<div  [hidden]="!this.filterService.roleFilter('ROLE_CONTENT_MANAGER')"  class="dashboard-header sticky-header">
  <div class="content-left  logo-section pull-left">
    <h1>
      <a routerLink="/dashboard">

        CityThrillsMorocco
      </a>
    </h1>
  </div>
  <div class="heaer-content-right pull-right">
    <div class="search-field">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="search" placeholder="Search Now">
          <a href="#"><span class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></span></a>
        </div>
      </form>
    </div>
    <div class="dropdown">
      <a class="dropdown-toggle" id="notifyDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="dropdown-item">
          <i class="far fa-envelope"></i>
          <span class="notify">3</span>
        </div>
      </a>
      <div class="dropdown-menu notification-menu" aria-labelledby="notifyDropdown">
        <h4> 3 Notifications</h4>
        <ul>
          <li>
            <a href="#">
              <div class="list-img">
                <img src="/assets/images/comment.jpg" alt="">
              </div>
              <div class="notification-content">
                <p>You have a notification.</p>
                <small>2 hours ago</small>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="list-img">
                <img src="/assets/images/comment2.jpg" alt="">
              </div>
              <div class="notification-content">
                <p>You have a notification.</p>
                <small>2 hours ago</small>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="list-img">
                <img src="/assets/images/comment3.jpg" alt="">
              </div>
              <div class="notification-content">
                <p>You have a notification.</p>
                <small>2 hours ago</small>
              </div>
            </a>
          </li>
        </ul>
        <a href="#" class="all-button">See all messages</a>
      </div>
    </div>
    <div class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <div class="dropdown-item">
          <i class="far fa-bell"></i>
          <span class="notify">3</span>
        </div>
      </a>
      <div class="dropdown-menu notification-menu">
        <h4> 3 Messages</h4>
        <ul>
          <li>
            <a href="#">
              <div class="list-img">
                <img src="/assets/images/comment4.jpg" alt="">
              </div>
              <div class="notification-content">
                <p>You have a notification.</p>
                <small>2 hours ago</small>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="list-img">
                <img src="/assets/images/comment5.jpg" alt="">
              </div>
              <div class="notification-content">
                <p>You have a notification.</p>
                <small>2 hours ago</small>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="list-img">
                <img src="/assets/images/comment6.jpg" alt="">
              </div>
              <div class="notification-content">
                <p>You have a notification.</p>
                <small>2 hours ago</small>
              </div>
            </a>
          </li>
        </ul>
        <a href="#" class="all-button">See all messages</a>
      </div>
    </div>
    <div class="dropdown">
      <a routerLink="/account" class="dropdown-toggle" data-toggle="dropdown">
        <div class="dropdown-item profile-sec">
          <img src="/assets/images/comment.jpg" alt="">
          <span>My Account </span>
          <i class="fas fa-caret-down"></i>
        </div>
      </a>
      <div class="dropdown-menu account-menu">
        <ul>
          <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
          <li><a href="#"><i class="fas fa-user-tie"></i>Profile</a></li>
          <li><a href="#"><i class="fas fa-key"></i>Password</a></li>
          <li><a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!this.filterService.roleFilter('ROLE_CONTENT_MANAGER')"  style="display: flex;">
  <div   class="dashboard-navigation">

<div id="dashboard-Navigation" class="slick-nav"></div>
<div id="navigation" class="navigation-container" >
  <ul>
    <li>
          <span [hidden]="hid1" (click)="hide();"
                style="
          display: flex;
          position: absolute;
          right: 1%;
          margin-top: 5%;
          z-index: 99999999999999999;">
            <img src="assets/img/closenve/next_7735582.png" style="width: 23px;height: 23px;" alt/>
          </span>
      <span [hidden]="hid2" (click)="hide();"
            style="
          display: flex;
          position: absolute;
          right: 1%;
          margin-top: 5%;
          z-index: 99999999999999999;">
          <img src="assets/img/closenve/back-arrows_7735576.png" style="width: 23px;height:23px;"  alt/>
        </span>
    </li>

  </ul>
  <ul>
    <li class="active-menu"><a routerLink="/dashboard">
      <i class="far fa-chart-bar"></i>
      Dashboard

    </a></li>
    <li><a routerLink="/createActivity"><i class="fas fa-umbrella-beach"></i>Add Activity</a></li>
    <li (click)="onActivitiesClick()"  >
      <a routerLink="/activities">
        <i class="fas fa-hotel"></i>
        Activities
        <span [hidden]="isActivitiesClicked" style="float: right;font-size: 20px;">+</span>
        <span [hidden]="!isActivitiesClicked" style="float: right;font-size: 25px;">-</span>
      </a>
    </li>

    <li><a href="db-booking.html"><i class="fas fa-ticket-alt"></i> Booking & Enquiry</a></li>
    <li><a routerLink="/wishlist" ><i class="far fa-heart"></i>Wishlist</a></li>
    <li><a routerLink="/comments" ><i class="fas fa-comments"></i>Comments </a><span  class="notify1" >3</span>
    </li>
    <li><a (click)="navigator.logout()" href=""><i class="fas fa-sign-out-alt"></i> Logout</a></li>
  </ul>
</div>

</div>

</div>



