<div class="login-page darken-background" style="background-image: url(assets/images/admin_background.jpg);">
  <div class="login-from-wrap">
    <div class="authentication-wrapper authentication-basic">
      <div class="authentication-inner">

        <div class="card">

          <div class="app-brand justify-content-center mt-5">
            <a routerLink='/' class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                  <span style="color: #9055fd">
                    <img src="./assets/img/Nouveau_projet-ai-brush-removebg-0dyusvph.png" style="width: 40px;"/>
                  </span>
                </span>
              <span class="app-brand-text demo text-heading fw-semibold">CSEC</span>
            </a>
          </div>

          <div class="card-body mt-2">
            <ng-container *ngIf="!resetSuccess; else successTemplate">
              <h4 class="mb-2">Forgot Password? 🔒</h4>
              <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
              <form [formGroup]="resetForm" (ngSubmit)="sendResetLink()" id="formAuthentication" class="mb-3" action="index.html">
                <div class="form-floating form-floating-outline mb-3 form-group">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                    placeholder="Enter your email"
                    autofocus
                    required />
                  <label>Email</label>
                  <div *ngIf="formSubmitted && resetForm.get('email')?.errors?.['required']" class="text-danger error-message">Email is required</div>
                  <div *ngIf="formSubmitted && resetForm.get('email')?.errors?.['email']" class="text-danger error-message">Invalid email format</div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary d-grid w-100">Send Reset Link</button>
                </div>
              </form>
            </ng-container>

            <ng-template #successTemplate>
              <div style="width: 550px;">
                <h4 class="mb-2">Reset Password 🔒</h4>
                <p class="mb-4" >Enter your new password</p>
                <form [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()" id="formNewPassword" class="mb-3" action="index.html">
                  <div class="form-floating form-floating-outline mb-3 form-group">
                    <input
                      type="password"
                      class="form-control"
                      id="newPassword"
                      formControlName="newPassword"
                      placeholder="Enter your new password"
                      required />
                    <label>New Password</label>
                    <div *ngIf="formSubmitted && newPasswordForm.get('newPassword')?.errors">
                      <div *ngIf="newPasswordForm.get('newPassword')?.errors?.['minLengthNotMet']" class="text-danger error-message">Password must have at least 8 characters</div>
                      <div *ngIf="newPasswordForm.get('newPassword')?.errors?.['maxLengthExceeded']" class="text-danger error-message">Password can have at most 16 characters</div>
                      <div *ngIf="newPasswordForm.get('newPassword')?.errors?.['passwordInvalid']" class="text-danger error-message">Password must contains letters,numbers and characters (!,*,?,...)</div>
                    </div>
                  </div>
                  <div class="form-floating form-floating-outline mb-3 form-group">
                    <input
                      type="password"
                      class="form-control"
                      id="PasswordConfirmation"
                      formControlName="PasswordConfirmation"
                      placeholder="Confirm Password"
                      required />
                    <label>Confirm Password</label>
                    <div *ngIf="formSubmitted && newPasswordForm.get('newPassword')?.errors">
                      <div *ngIf="newPasswordForm.get('PasswordConfirmation')?.errors?.['minLengthNotMet']" class="text-danger error-message">Password must have at least 8 characters</div>
                      <div *ngIf="newPasswordForm.get('PasswordConfirmation')?.errors?.['maxLengthExceeded']" class="text-danger error-message">Password can have at most 16 characters</div>
                      <div *ngIf="newPasswordForm.get('PasswordConfirmation')?.errors?.['passwordInvalid']" class="text-danger error-message">Password must contains letters,numbers and characters (!,*,?,...)</div>
                    </div>
                  </div>
                  <div *ngIf="newPasswordForm.get('PasswordConfirmation')?.value !== '' && newPasswordForm.get('newPassword')?.value !== '' && newPasswordForm.get('PasswordConfirmation')?.value!==newPasswordForm.get('newPassword')?.value" class="text-danger error-message">Passwords do not match</div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary d-grid w-100">Reset Password</button>
                  </div>
                </form>
              </div>

            </ng-template>
            <div class="text-center">
              <a routerLink="/Admin_login" class="d-flex align-items-center justify-content-center">
                <i class="mdi mdi-chevron-left scaleX-n1-rtl mdi-24px"></i>
                Back to login
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
