<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" [class.active]="index === 0">
      <div class="testimonial-section" >
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="testimonial-inner testimonial-slider">
                <div class="testimonial-item text-center">
                  <figure class="testimonial-img">
                    <img src="assets/images/img20.jpg" alt="">
                  </figure>
                  <div class="testimonial-content">
                    <p>" Dolorum aenean dolorem minima! Voluptatum? Corporis condimentum ac primis fusce, atque! Vivamus. Non cupiditate natus excepturi, quod quo, aute facere? Deserunt aliquip, egestas ipsum, eu.Dolorum aenean dolorem minima!? Corporis condi mentum acpri! "</p>
                    <cite>
                      Johny English
                      <span class="company">Travel Agent</span>
                    </cite>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" [class.active]="index === 1">
      <div class="testimonial-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="testimonial-inner testimonial-slider">
                <div class="testimonial-item text-center">
                  <figure class="testimonial-img">
                    <img src="assets/images/img20.jpg" alt="">
                  </figure>
                  <div class="testimonial-content">
                    <p>" Dolorum aenean dolorem minima! Voluptatum? Corporis condimentum ac primis fusce, atque! Vivamus. Non cupiditate natus excepturi, quod quo, aute facere? Deserunt aliquip, egestas ipsum, eu.Dolorum aenean dolorem minima!? Corporis condi mentum acpri! "</p>
                    <cite>
                      Johny English
                      <span class="company">Engineer</span>
                    </cite>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" [class.active]="index === 2">
      <div class="testimonial-section" >
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="testimonial-inner testimonial-slider">
                <div class="testimonial-item text-center">
                  <figure class="testimonial-img">
                    <img src="assets/images/img20.jpg" alt="">
                  </figure>
                  <div class="testimonial-content">
                    <p>" Dolorum aenean dolorem minima! Voluptatum? Corporis condimentum ac primis fusce, atque! Vivamus. Non cupiditate natus excepturi, quod quo, aute facere? Deserunt aliquip, egestas ipsum, eu.Dolorum aenean dolorem minima!? Corporis condi mentum acpri! "</p>
                    <cite>
                      chy
                      <span class="company">Doctor</span>
                    </cite>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" (click)="previous()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" (click)="next()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
