
<section class="special-section">
  <div class="container">
    <div class="section-heading text-center">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h5 class="dash-style">Famous Cities</h5>
          <h2>SPECIAL TRAVEL </h2>
        </div>
      </div>
    </div>
    <div class="special-inner">
      <div class="row">
        <div class="col-md-6 col-lg-4" *ngFor="let city of famousCities">
          <div class="special-item">
            <figure class="special-img">
              <img src="{{city.img}}" alt="" style="cursor: pointer">
            </figure>
            <div class="special-content">
              <div class="meta-cat">
                <a style="cursor: pointer" [routerLink]="['/activities' , city.name] ">{{city.name}}</a>
              </div>
              <h3>
                <a>{{city.description}}</a>
              </h3>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


