<app-header></app-header>
<section class="inner-banner-wrap">
    <div class="inner-baner-container" style="background-image: url('assets/images/inner-banner.jpg');">
        <div class="container">
            <div class="inner-banner-content">
                <h1 class="inner-title">Activity Details</h1>
            </div>
        </div>
    </div>
    <div class="inner-shape" style='background-image: url("assets/images/slider-pattern.png")'></div>
</section>
<div class="product-outer-wrap product-wrap">
    <div class="product-inner-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="product-thumbnails">
                        <div class="single-product-item">
                            <figure class="feature-image">
                                <img src="{{activity.imageUrl}}" alt="">
                                <div class="package-meta text-center">
                                    <ul>
                                        <li>
                                            <i class="fas fa-user-friends"></i>
                                            People: 4
                                        </li>
                                        <li>
                                            <i class="fas fa-map-marked-alt"></i>
                                            {{activity.city}}
                                        </li>
                                    </ul>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="product-summary">
                        <h2>{{activity.designation}}</h2>
                        <div class="product-price">
                            <span>${{activity.price}} per person</span>
                        </div>
                        <form class="cart-item">
                            <input type="number" name="quantity" value="1">
                            <button class="button-primary">Add to cart</button>
                        </form>
                        <div class="product-meta">
                            <div class="cat-detail">
                                <strong>Categories:</strong>
                                <a >{{activity.category}}</a>
                            </div>
                            <div class="cat-detail">
                                <strong>Location:</strong>
                                <a >{{activity.location}}</a>
                            </div>
                            <div class="cat-detail">
                                <strong>StartedDate:</strong>
                                <a >{{activity.starteddate}}</a>
                            </div>
                            <div class="cat-detail">
                                <strong>FinishedDate:</strong>
                                <a >{{activity.finisheddate}}</a>
                            </div>
                        </div>
                        <div class="product-desc">
                            <p>{{activity.description}}</p>
                            <p>{{activity.descriptiondetail}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- description -->

    </div>
</div>
<div class="testimonial-page-section">
    <div class="container">
        <div class="section-heading text-center">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h5 class="dash-style">Shared Experiences by Our Customers</h5>
                    <h2>Feedback</h2>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="review" role="tabpanel" aria-labelledby="review-tab">
            <div class="summary-review">
                <div class="review-score">
                    <span>{{averageNote}}</span>
                </div>

                <div class="review-score-content">
                        <h3>
                            {{ averageNote >= 4 ? 'Excellent' : (averageNote >= 3.5 ? 'Average' : 'Weak') }}
                            <span>( Based on {{numberOfComments}} reviews )</span>
                        </h3>

                    <p>Experience the vibrant tapestry of visitor feedback, where each comment offers a unique perspective on our offerings. From glowing recommendations to constructive insights, these comments reflect the diverse experiences and voices of our valued visitors.</p>
                </div>
            </div>
            <!-- review comment html -->
            <div class="comment-area">
                <h3 class="comment-title">{{numberOfComments}} Reviews</h3>

                <div class="comment-area-inner">
                    <ol>
                        <div *ngFor="let comment of comments">
                            <li >
                                <figure class="comment-thumb">
                                    <img src="assets/images/profil.png" alt="">
                                </figure>
                                <div class="comment-content">
                                    <div class="rating-wrap">
                                        <div class="rating-start" title="Rated {{comment.note}} out of 5">
                                            <span style="width: {{comment.note*20}}%"></span>
                                        </div>
                                    </div>
                                    <div class="comment-header">
                                        <h3>
                                            {{comment.user.firstname}}
                                            {{comment.user.lastname}}
                                            <span class="post-on">{{comment.createdDate}}</span>
                                        </h3>
                                        <p>{{comment.content}}</p>
                                    </div>

                                </div>
                            </li>
                        </div>

                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="contact-from-wrap text-center" >
        <div class="section-heading text-center" style="margin-top: 300px;">
            <h5 class="dash-style">Review</h5>
            <h2>Leave a Review</h2>
            <p>Your feedback is crucial for our growth and helps others make informed choices.</p>
            <p> Please share your experience with us. Thank you for your support!</p>
        </div>
        <div class="container">
        </div>
        <form class="form_comment" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <p>
                <input type="number" formControlName="note" placeholder="Your note*" min="1"max="5"  required style="width: 180px;">
            </p>
            <p>
                <textarea rows="8" formControlName="content" placeholder="Your Message*" required style="width: 550px"></textarea>
            </p>
            <p>
                <input type="submit" value="SUBMIT MESSAGE" [disabled]="commentForm.invalid">
            </p>
        </form>


    </div>

</div>
<div class="map-section">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317838.95217734354!2d-0.27362819527326965!3d51.51107287614788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604c7c7eb9be3%3A0x3918653583725b56!2sRiverside%20Building%2C%20County%20Hall%2C%20Westminster%20Bridge%20Rd%2C%20London%20SE1%207JA%2C%20UK!5e0!3m2!1sen!2snp!4v1632135241093!5m2!1sen!2snp" height="400" allowfullscreen="" loading="lazy"></iframe>
</div>
<app-footer></app-footer>
