<app-header></app-header>
<main id="content" class="site-main">
    <!-- Inner Banner html start-->
    <section class="inner-banner-wrap">
        <div class="inner-baner-container" style="background-image: url(assets/images/inner-banner.jpg);">
            <div class="container">
                <div class="inner-banner-content">
                    <h1 class="inner-title">Wish List</h1>
                </div>
            </div>
        </div>
        <div class="inner-shape"></div>
    </section>
    <!-- Inner Banner html end-->
    <!-- packages html start -->
    <section class="package-section">
        <div class="container">
            <div class="package-inner">
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let activity of activities ; let i = index ">
                        <div class="package-wrap">
                            <figure class="feature-image">
                                <a  routerLink="/Details">
                                    <img src="{{activity.imageUrl}}" alt="" >
                                </a>
                            </figure>
                            <div class="package-price">
                                <h6>
                                    <span>{{activity.price}}$ </span> / per person
                                </h6>
                            </div>
                            <div class="package-content-wrap">
                                <div class="package-meta text-center">
                                    <ul>
                                        <li>
                                            <i class="far fa-clock"></i>
                                            {{activity.startDate}}
                                        </li>
                                        <li>
                                            <i class="bi bi-building"></i>
                                            {{activity.city}}
                                        </li>
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            {{activity.location}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="package-content">
                                    <h3>
                                        <a  [routerLink]="['/Details' , activity.id] ">{{activity.designation}}</a>
                                    </h3>
                                    <div class="review-area">
                                        <span class="review-text">({{numberOfComments[i]}} reviews)  </span>
                                        <div class="rating-start" title="Rated {{ averageNotes[i] }} out of 5">
                                            <span style="width: {{ averageNotes[i] * 20 }}%"></span>

                                        </div>
                                    </div>
                                    <p>{{activity.description}}</p>
                                    <div class="btn-wrap">
                                        <a href="#" routerLink="/Cart" class="button-text width-6">Add To Cart<i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--            <div class="btn-wrap text-center">-->
                <!--                <a href="#" class="button-primary">VIEW ALL PACKAGES</a>-->
                <!--            </div>-->
            </div>
        </div>
    </section>
    <!-- packages html end -->
</main>
<app-footer></app-footer>