
<div id="container-wrapper">
  <!-- Dashboard -->
  <div id="dashboard" class="dashboard-container">
    <div class="db-info-wrap db-add-tour-wrap">
      <h1 class="fill-primary" style="margin-left: 30%;">Publish a New Activity</h1>
      <form [formGroup]="activityForm" (ngSubmit)="createActivity()">
      <div class="row">
        <div class="col-lg-8 col-xl-9">
          <div class="dashboard-box">
            <div class="custom-field-wrap">
              <h4>Activity Details</h4>
                <div >
                  <mat-form-field style="width: 100%;">
                    <mat-label>Designation</mat-label>
                    <input formControlName="designation" placeholder="Designation" [matAutocomplete]="activitiesAuto" required matInput />
                    <mat-error>The designation is not valid</mat-error>
                  </mat-form-field>
                  <mat-autocomplete #activitiesAuto="matAutocomplete">
                    <mat-option *ngFor="let activity of activities$ | async" [value]="activity.designation">
                      {{activity.designation}}
                    </mat-option>
                  </mat-autocomplete>
                </div>
                <div>
                  <mat-form-field style="width: 100%;" >
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" placeholder="Description" [matAutocomplete]="activitiesAuto" required matInput></textarea>
                    <mat-error>The description is not valid</mat-error>
                  </mat-form-field>
                  <mat-autocomplete #activitiesAuto="matAutocomplete">
                    <mat-option *ngFor="let activity of activities$ | async" [value]="activity.designation">
                      {{activity.description}}
                    </mat-option>
                  </mat-autocomplete>
                </div>
              <div>
                <mat-form-field style="width: 100%;" >
                  <mat-label>Description Details</mat-label>
                  <textarea formControlName="descriptionDetail" placeholder="Description Details" [matAutocomplete]="activitiesAuto" required matInput></textarea>
                  <mat-error>The description is not valid</mat-error>
                </mat-form-field>
                <mat-autocomplete #activitiesAuto="matAutocomplete">
                  <mat-option *ngFor="let activity of activities$ | async" [value]="activity.descriptionDetail">
                    {{activity.descriptionDetail}}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
          </div>
          <div class="dashboard-box">
            <div class="custom-field-wrap">
              <h4>Dates and Prices</h4>
              <div class="row">
                <mat-stepper  [linear]="isLinear" #stepper>
                  <mat-step>
                      <div>
                        <ng-template matStepLabel >Available Year-Round ?</ng-template>
                        <mat-checkbox  formControlName="isAvailableYearRound" color="primary">Available Year-Round</mat-checkbox>
                        <div style="margin-left: 10%;" [hidden]="isAvailableYearRound.value" >
                          <mat-form-field>
                            <mat-label>Started Date</mat-label>
                            <input matInput  formControlName="startDate" placeholder="Started Date" [matDatepicker]="picker1" />
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Finished Date</mat-label>
                            <input matInput formControlName="endDate" placeholder="Finished Date" [matDatepicker]="picker" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div [hidden]="isAvailableYearRound.value" >
                          <ng-template matStepLabel>Dates flexibles ?</ng-template>
                          <mat-checkbox formControlName="isFlexibleDates">Dates flexibles</mat-checkbox>
                          <div style="margin-left: 10%;" [hidden]="!isFlexibleDates.value" >
                            <mat-form-field>
                              <mat-label>bookingStartDate Date</mat-label>
                              <input matInput formControlName="bookingStartDate" type="text" placeholder="Finished Date" [matDatepicker]="pickerbookingStartDate" />
                              <mat-datepicker-toggle matSuffix [for]="pickerbookingStartDate"></mat-datepicker-toggle>
                              <mat-datepicker #pickerbookingStartDate></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field>
                              <mat-label>bookingEndDate Date</mat-label>
                              <input matInput formControlName="bookingEndDate" type="text" placeholder="Finished Date" [matDatepicker]="bookingEndDatepicker" />
                              <mat-datepicker-toggle matSuffix [for]="bookingEndDatepicker"></mat-datepicker-toggle>
                              <mat-datepicker #bookingEndDatepicker></mat-datepicker>
                            </mat-form-field>

                          </div>
                        </div>

                      </div>

                    <div>
                      <button mat-button matStepperNext type="button">Next</button>
                    </div>
                  </mat-step>
                  <mat-step [stepControl]="isPlacesLimited">
                      <ng-template matStepLabel>Places limitées</ng-template>
                    <mat-checkbox formControlName="isPlacesLimited">Places limitées</mat-checkbox>
                    <div [hidden]="!isPlacesLimited.value">

                      <div class="col-sm-6">
                        <div>
                          <mat-form-field>
                            <mat-label> maxParticipants:</mat-label>
                            <input type="number" formControlName="maxParticipants" placeholder="maxParticipants" required matInput />
                            <mat-error>The  maxParticipants is required</mat-error>
                            <mat-hint>
                              Price should be between 1 and 10000
                            </mat-hint>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div>
                          <mat-form-field>
                            <mat-label>participants</mat-label>
                            <input type="number" formControlName="participants" placeholder="participants" required matInput />
                            <mat-error>The participants is required</mat-error>
                            <mat-hint>
                              Price should be between 1 and 10000
                            </mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                      <div>
                        <button type="button" mat-button matStepperPrevious>Back</button>
                        <button type="button" mat-button matStepperNext>Next</button>
                      </div>

                  </mat-step>
                  <mat-step [stepControl]="price">
                    <ng-template matStepLabel>Sale Price</ng-template>
                    <mat-form-field>
                      <mat-label>Sale Price</mat-label>
                      <input type="number" formControlName="price" placeholder="Sale Price" required matInput />
                      <mat-error>The price is required</mat-error>
                      <mat-hint>
                        Price should be between 1 and 10000
                      </mat-hint>
                    </mat-form-field>
                    <div>
                      <button type="button" mat-button matStepperPrevious>Back</button>
                      <button type="button" mat-button matStepperNext>Next</button>
                    </div>
                  </mat-step>


                </mat-stepper>
            </div>
            </div>
          </div>
          <div class="dashboard-box">
            <h4>Gallery</h4>
            <div class="custom-field-wrap">
              <div class="dragable-field">
                <div class="dragable-field-inner">
                  <p class="drag-drop-info">Drop Files To Upload</p>
                  <p>or</p>
                  <div class="upload-input">
                    <div class="form-group">
                      <span class="upload-btn">Upload a image</span>
                      <input type="file" name="myfile">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard-box">
            <h4>Location</h4>
            <div class="custom-field-wrap">
              <div class="row">

                <mat-form-field style="width: 100%;">
                  <mat-label>City</mat-label>
                  <input formControlName="city" placeholder="City" [matAutocomplete]="cityAuto" required matInput (input)="onCityChange($event)" />
                  <mat-error>Please provide a city name</mat-error>
                </mat-form-field>

                <mat-autocomplete #cityAuto="matAutocomplete">
                  <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                    {{city}}
                  </mat-option>
                </mat-autocomplete>

                <section class="contact-us-section" id="contact-us">
                  <div class="container">
                    <div class="row contact-row">
                      <div class="w-90 map-container" id="map" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="900">
                        <iframe [src]="safeUrl" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                      </div>
                    </div>
                  </div>
                </section>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3">
          <div class="dashboard-box">
            <div class="custom-field-wrap">
              <h4>Category</h4>
              <mat-form-field style="width: 100%;">
                <mat-label>Categories</mat-label>
                <mat-select formControlName="category">
                  <mat-option *ngFor="let category of categories" [value]="category">
                    {{category}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>

          <div class="dashboard-box">
            <div class="custom-field-wrap db-pop-field-wrap">
              <h4>Add image</h4>
              <img
                [src]="imageUrl"
                alt="user-avatar"
                class="d-block w-100 opacity-25 rounded"
                id="uploadedAvatar"
              />
              <form (ngSubmit)="uploadImage()">
                <mat-form-field style="width: 100%;">
                  <div>
                    <mat-toolbar>
                      <input  matInput placeholder="Upload image"  [value]="selectedFile?.name">
                    </mat-toolbar>
                    <input type="file" id="fileInput" (change)="onFileSelected($event)" name="fileInput">
                  </div>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Upload</button>
              </form>
              <div class="publish-action">
                <button mat-raised-button color="primary" type="submit" [disabled]="!activityForm.valid">Publish</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
    <!-- Copyrights -->
    <div class="copyrights">
      Copyright © 2021 Travele. All rights reserveds.
    </div>
  </div>
</div>
