<!--
<div class="position-relative">

  <div class="authentication-wrapper authentication-basic container-p-y">
    <div [hidden]="!errorMessage" class="alert alert-warning" style="width: 50%;margin-left: 25%;margin-top: 3%;">
      <h5 class="alert-heading mb-1">{{errorMessage}} !!</h5>
    </div>
    <div class="authentication-inner py-4">

      <div class="card p-2">

        <div class="app-brand justify-content-center mt-5">
          <div style="display: block;">
            <a href="index.html" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                  <span style="color: #9055fd">
                    <img src="./assets/img/Nouveau_projet-ai-brush-removebg-0dyusvph.png" style="width: 40px;"/>
                  </span>
                </span>
              <span class="app-brand-text demo text-heading fw-semibold">CSEC</span>
            </a>
            <h4 class="mb-2" > Login to your account</h4>
          </div>
        </div>

        <div class="card-body mt-2">

          <form [formGroup]="addForm" (ngSubmit)="login(email.value,password.value)" id="formAuthentication" class="mb-3" >
            <div class="form-floating form-floating-outline mb-3">
              <input
                type="text"
                class="form-control"
                id="email"
                #email
                name="email"
                placeholder="Enter your email"
                autofocus />
              <label>Email</label>
            </div>
            <div class="form-floating form-floating-outline mb-3">
              <input
                type="text"
                class="form-control"
                id="password"
                #password
                name="password"
                placeholder="Enter your password"
                autofocus />
              <label>Email</label>
            </div>
            <button type="submit" class="btn btn-primary d-grid w-100">Login</button>
          </form>
          <div class="text-center">
            <a routerLink="/resetPassword" class="d-flex align-items-center justify-content-center">
              Reset Password!
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<div class="login-page darken-background" style="background-image: url(assets/images/admin_background.jpg);">

  <div class="login-from-wrap">
    <h1 class="site-title">
      <a>
        <img src="assets/images/logo_app.png" alt="">
      </a>
    </h1>

    <form   id="formAuthentication" class="mb-3 login-from" >
      <div class="form-floating form-floating-outline mb-3 form-group">
        <input
          type="text"
          class="form-control"
          id="name"
          #name
          name="name"
          placeholder="Your Entreprise Name"
          autofocus />
        <label>Entreprise Name</label>
      </div>
      <div class="form-floating form-floating-outline mb-3 form-group">
        <input
          type="email"
          class="form-control"
          id="email"
          #email
          name="email"
          placeholder="Enter your email"
          autofocus />
        <label>Email</label>
      </div>

      <div class="form-floating form-floating-outline mb-3 form-group">
        <input
          type="password"
          class="form-control"
          id="password"
          #password
          name="password"
          placeholder="Enter your password"
          autofocus />
        <label>Password</label>
      </div>
      <div class="form-floating form-floating-outline mb-3 form-group">
        <input
          type="number"
          class="form-control"
          id="phone"
          #phone
          name="phone"
          placeholder="Enter your phone number"
          autofocus />
        <label>Phone Number</label>
      </div>

      <div class="form-floating form-floating-outline mb-3 form-group">
        <input
          type="text"
          class="form-control"
          id="location"
          #location
          name="location"
          placeholder="Entreprise Location"
          autofocus />
        <label>Location</label>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary d-grid w-100">Sign Up</button>
      </div>
      <div class="text-center form-group">
        <a class="d-flex fill-primary align-items-center justify-content-center">
          Already Registered?
        </a>
      </div>
      <div class="text-center form-group">
        <a routerLink="/Admin_login" class="d-flex align-items-center justify-content-center">
          Login
        </a>
      </div>

    </form>
  </div>
</div>

<!--
<div>
  <button (click)="register(name.value, email.value,location.value,phone.value,password.value)">Create</button>
</div>
-->
