<div class="login-page darken-background" style="background-image: url(assets/images/admin_background.jpg);">
  <div class="login-from-wrap">
    <h1 class="site-title">
      <a routerLink="/">
        <img src="assets/images/logo_app.png" alt="">
      </a>
    </h1>

    <form id="formAuthentication" class="mb-3 login-from" [formGroup]="registrationForm" (ngSubmit)="register()">
      <div class="form-floating form-floating-outline mb-3 form-group">
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          placeholder="Your Enterprise Name"
          autofocus
          required
        />
        <label>Enterprise Name</label>
        <div *ngIf="formSubmitted && registrationForm.get('name')?.errors?.['required']" class="text-danger error-message">Enterprise name is required</div>
      </div>
      <div class="form-floating form-floating-outline mb-3 form-group">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Enter your email"
          autofocus
          required
        />
        <label>Email</label>
        <div *ngIf="formSubmitted && registrationForm.get('email')?.errors?.['required']" class="text-danger error-message">Email is required</div>
        <div *ngIf="formSubmitted && registrationForm.get('email')?.errors?.['email']" class="text-danger error-message">Invalid email format</div>
      </div>

      <div class="form-floating form-floating-outline mb-3 form-group">
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Enter your password"
            autofocus
            required
          />
          <button style="background: none;border: none;font-size: smaller;right: 2%;top: 35%;position: absolute;"  type="button" (click)="togglePasswordVisibility()">
            <span class="fa" [ngClass]="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"></span>
          </button>
        <label>Password</label>
        <div *ngIf="formSubmitted && registrationForm.get('password')?.errors">
          <div *ngIf="registrationForm.get('password')?.errors?.['minLengthNotMet']" class="text-danger error-message">Password must have at least 8 characters</div>
          <div *ngIf="registrationForm.get('password')?.errors?.['maxLengthExceeded']" class="text-danger error-message">Password can have at most 16 characters</div>
          <div *ngIf="registrationForm.get('password')?.errors?.['passwordInvalid']" class="text-danger error-message">Password must contains letters,numbers and characters (!,*,?,...)</div>
        </div>
      </div>
      <div class="form-floating form-floating-outline mb-3 form-group">
        <input
          type="password"
          class="form-control"
          id="PasswordConfirmation"
          formControlName="PasswordConfirmation"
          placeholder="Confirm Password"
          required />
        <button style="background: none;border: none;font-size: smaller;right: 2%;top: 35%;position: absolute;"  type="button" (click)="togglePasswordVisibility()">
          <span class="fa" [ngClass]="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"></span>
        </button>
        <label>Confirm Password</label>
        <div *ngIf="formSubmitted && registrationForm.get('newPassword')?.errors">
          <div *ngIf="registrationForm.get('PasswordConfirmation')?.errors?.['minLengthNotMet']" class="text-danger error-message">Password must have at least 8 characters</div>
          <div *ngIf="registrationForm.get('PasswordConfirmation')?.errors?.['maxLengthExceeded']" class="text-danger error-message">Password can have at most 16 characters</div>
          <div *ngIf="registrationForm.get('PasswordConfirmation')?.errors?.['passwordInvalid']" class="text-danger error-message">Password must contains letters,numbers and characters (!,*,?,...)</div>
        </div>
      </div>

      <div class="form-floating form-floating-outline mb-3 form-group">
        <input
          type="number"
          class="form-control"
          id="phone"
          formControlName="phone"
          placeholder="Enter your phone number"
          autofocus
          required
        />
        <label>Phone Number</label>
        <div *ngIf="formSubmitted && registrationForm.get('phone')?.errors?.['required']" class="text-danger error-message">Phone number is required</div>
      </div>

      <div class="form-floating form-floating-outline mb-3 form-group">
        <input
          type="text"
          class="form-control"
          id="location"
          formControlName="location"
          placeholder="Enterprise Location"
          autofocus
          required
        />
        <label>Location</label>
        <div *ngIf="formSubmitted && registrationForm.get('location')?.errors?.['required']" class="text-danger error-message">Location is required</div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary d-grid w-100">Sign Up</button>
      </div>
      <div class="text-center form-group">
        <a class="d-flex fill-primary align-items-center justify-content-center">
          Already Registered?
        </a>
      </div>
      <div class="text-center form-group">
        <a routerLink="/Admin_login" class="d-flex align-items-center justify-content-center">
          Login
        </a>
      </div>
    </form>
  </div>
</div>
