<app-header></app-header>
<main id="content" class="site-main">
  <!-- Inner Banner html start-->
  <section class="inner-banner-wrap">
    <div class="inner-baner-container" style="background-image: url(assets/images/saouira.jpg);">
      <div class="container">
        <div class="inner-banner-content">
          <h1 class="inner-title">{{ paymentMessage }}</h1>
        </div>
      </div>
    </div>
    <div class="inner-shape"></div>
  </section>
  <!-- Inner Banner html end-->
  <div class="step-section cart-section">
    <div class="container">
      <div class="step-link-wrap">
        <div class="step-item active">
          Your cart
          <a href="/Cart" class="step-icon"></a>
        </div>
        <div class="step-item active">
          Your Details
          <a href="/paiement" class="step-icon"></a>
        </div>
        <div class="step-item active">
          Finish
          <a href="/confirmation" class="step-icon"></a>
        </div>
      </div>
      <!-- step three form html start -->
      <div class="confirmation-outer">
        <div class="success-notify">
          <div class="success-icon">
            <i class="fas fa-check"></i>
          </div>
          <div class="success-content">
            <h3>PAYMENT CONFIRMED</h3>
            <p>Thank you, your payment has been successful and your booking is now confirmed.A confirmation email has been sent to <a href="https://demo.bosathemes.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6f060109002f1b1d0e190a030a410c0002">[email&#160;protected]</a>.</p>
          </div>
        </div>
        <div class="confirmation-inner">
          <div class="row">
            <div class="col-lg-11 mx-auto">
              <div class="confirmation-details">
                <h3>BOOKING DETAILS</h3>
                <table class="table">
                  <tbody>
                  <tr>
                    <td>Booking id:</td>
                    <td>999-QSDE-55</td>
                  </tr>
                  <tr>
                    <td>First Name:</td>
                    <td>John</td>
                  </tr>
                  <tr>
                    <td>Last Name:</td>
                    <td>Doe</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td><a href="https://demo.bosathemes.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="92fbfcf4fdd2e6e0f3e4f7fef7bcf1fdff">[email&#160;protected]</a></td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td>977 - 222 - 444 - 666</td>
                  </tr>
                  <tr>
                    <td>Card number</td>
                    <td>XXX-XXXX-XXX-03</td>
                  </tr>
                  <tr>
                    <td>Country:</td>
                    <td>London</td>
                  </tr>
                  <tr>
                    <td>Zip Code</td>
                    <td>44500</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>445 Mount Eden Road, london, borfish</td>
                  </tr>
                  </tbody>
                </table>
                <div class="details payment-details">
                  <h3>PAYMENT</h3>
                  <div class="details-desc">
                    <p>Payment is successful via Master card</p>
                  </div>
                </div>
                <div class="details">
                  <h3>VIEW BOOKING DETAILS</h3>
                  <div class="details-desc">
                    <p><a href="#">https://www.travele.com/sadsd-f646556</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- step three form html end -->
    </div>
  </div>
</main>
