
/*--------------------------------------------------------------
>>> confirmation Pages
----------------------------------------------------------------*/
.success-notify {
  background-color: #0791BE;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 30px;
  color: #ffffff;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 60px;
}
.success-notify .success-icon i {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 3px solid #ffffff;
  line-height: 80px;
  height: 80px;
  width: 80px;
  text-align: center;
  font-size: 28px;
}
.success-notify .success-content {
  margin-left: 20px;
}
.success-notify .success-content h3 {
  margin-bottom: 5px;
  color: #ffffff;
}
.success-notify .success-content p {
  margin-bottom: 0;
}

.confirmation-details h3 {
  margin-bottom: 25px;
}
.confirmation-details table {
  margin-bottom: 60px;
}
.confirmation-details table tr:nth-of-type(odd) {
  background-color: #F1F1F1;
}
.confirmation-details table tr td {
  color: #383838;
  width: 50%;
  border: none;
}
.confirmation-details .details.payment-details {
  margin-bottom: 60px;
}
.confirmation-details .details .details-desc {
  background-color: #F1F1F1;
  padding: 15px;
}
.confirmation-details .details .details-desc a {
  color: inherit;
}
.confirmation-details .details .details-desc p {
  margin-bottom: 0;
}
