<div class="fullwidth-callback" style="background-image: url(assets/images/background.jpg);">
  <div class="container">
    <div class="section-heading section-heading-white text-center">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h5 class="dash-style">INCREASING ENGAGEMENT</h5>
          <h2 >Discover Morocco: Where Adventure Begins !</h2>
          <p >Discover the Magic of Morocco: Your Gateway to Adventure and Culture !</p>
        </div>
      </div>
    </div>
    <div class="callback-counter-wrap">
      <div class="counter-item">
        <div class="counter-item-inner">
          <div class="counter-icon">
            <img src="assets/images/icon1.png" alt="">
          </div>
          <div class="counter-content">
                                 <span class="counter-no">
                                    <span class="counter">{{ nombreActuelClients }}</span>
                                 </span>
            <span class="counter-text">
                                    Satisfied Clients
                                 </span>
          </div>
        </div>
      </div>
      <div class="counter-item">
        <div class="counter-item-inner">
          <div class="counter-icon">
            <img src="assets/images/icon3.png" alt="">
          </div>
          <div class="counter-content">
                                 <span class="counter-no">
                                    <span class="counter">{{ nombreActuelAgences >= 1000 ? '1K+' : nombreActuelAgences }} </span>
                                 </span>
            <span class="counter-text">
                                    Agencies
                                 </span>
          </div>
        </div>
      </div>
      <div class="counter-item">
        <div class="counter-item-inner">
          <div class="counter-icon">
            <img src="assets/images/icon2.png" alt="">
          </div>
          <div class="counter-content">
                                 <span class="counter-no">
                                    <span class="counter">{{nombreActuelDestinations}}</span>
                                 </span>
            <span class="counter-text">
                                    Destinations
                                 </span>
          </div>
        </div>
      </div>
      <div class="counter-item">
        <div class="counter-item-inner">
          <div class="counter-icon">
            <img src="assets/images/icon4.png" alt="">
          </div>
          <div class="counter-content">
                                 <span class="counter-no">
                                    <span class="counter">{{ nombreTotalActivites >= 1000 ? '1K+' : nombreActuelActivites }}</span>
                                 </span>
            <span class="counter-text">
                                    Activities
                                 </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
