.de_nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 100px;
}

.de_nav li {
    position: relative;
    padding: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.de_nav li:hover {
    transform: scale(1.1);
}

.de_nav li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 50%;
    background-color: #ccc;
}

.de_nav li h3 {
    margin: 0;
    color: #333;
}

.de_nav li h4 {
    margin: 0;
    color: #666;
}




@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}