<ul class="de_nav de_nav_dark">
    <li class="active" data-link="#section-services-tab"  style="opacity: 1;" (click)="selectCategory('sport')">
        <h3>Sport</h3>
    </li>
    <li data-link="#section-services-tab" class="" style="opacity: 1;" (click)="selectCategory('culture')">
        <h3>Culture</h3>
    </li>
    <li data-link="#section-services-tab" class="" style="opacity: 1;" (click)="selectCategory('nature')">
        <h3>Nature</h3>
    </li>
    <li data-link="#section-services-tab" class="" style="opacity: 1;" (click)="selectCategory('food')">
        <h3>Food</h3>
    </li>

</ul>